DECLARE @COUNTER INT
DECLARE @TEMPULKE NVARCHAR(250)
SET @COUNTER = 0

WHILE (@COUNTER<238)
BEGIN
	SET @COUNTER = @COUNTER + 1
	SELECT @TEMPULKE = F2 FROM ULKE
	WHERE F1 = @COUNTER
	INSERT INTO [TURQUIA].[dbo].[Countries_ML]
			   ([CountryID], [LanguageID], [Name])
		 VALUES
			   (@COUNTER, 2, @TEMPULKE)
END